In [1]:
import mysql.connector as connector

connection = connector.connect(user="root", password="password", database="littlelemondb")
cursor = connection.cursor()

show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)

results = cursor.fetchall()

print(results)
cursor.close()
connection.close()

[('bookings',), ('customerdetails',), ('menuitems',), ('menus',), ('orderdeliverystatuses',), ('orders',), ('ordersview',), ('ordersview2',), ('ordersview3',), ('staffinformation',)]

In [5]:
import mysql.connector as connector

connection = connector.connect(user="root", password="password", database="littlelemondb")
cursor = connection.cursor()

query = """
SELECT c.Name, c.Email, o.TotalCost
FROM Orders AS o
JOIN CustomerDetails AS c ON o.CustomerID = c.CustomerID
WHERE o.TotalCost > 60;
"""
cursor.execute(query)

results = cursor.fetchall()
for result in results:
    print("Name:", result[0], "Contact Details:", result[1], "Total Cost:", result[2])

cursor.close()
connection.close()

Name: John Doe Contact Details: customer1@email.com Total Cost: 171
Name: Jane Doe Contact Details: customer2@email.com Total Cost: 174
Name: Alice Contact Details: customer3@email.com Total Cost: 358
Name: Bob Contact Details: customer4@email.com Total Cost: 265
Name: David Contact Details: customer6@email.com Total Cost: 465
Name: Emily Contact Details: customer7@email.com Total Cost: 65
Name: Frank Contact Details: customer8@email.com Total Cost: 437
Name: Grace Contact Details: customer9@email.com Total Cost: 484
Name: Hannah Contact Details: customer10@email.com Total Cost: 111